<h1 class="mt-5">Selectores anidados</h1>
<hr />

<form [formGroup]="selectorForm" (ngSubmit)="saveRegion()">
  <!-- Regions -->
  <div class="row mb-3">
    <div class="col">
      <label class="form-label">Continente:</label>
      <select class="form-control" formControlName="region">
        <option value="">-- Seleccione Continente --</option>
        <option *ngFor="let region of regions" [value]="region | lowercase">
          {{ region }}
        </option>
      </select>
    </div>
  </div>

  <!-- Countries -->
  <div class="row mb-3" *ngIf="countries.length">
    <div class="col">
      <label class="form-label">Paises:</label>
      <select class="form-control" formControlName="country">
        <option value="">-- Seleccione un país --</option>
        <!-- <option *ngFor="let country of countries" [value]="country.cca3 | lowercase">
          {{ country.common.name | titlecase }}
        </option> -->
        <option *ngFor="let country of countries" [value]="country.alpha3Code | lowercase">
          {{ country.name | titlecase }}
        </option>
      </select>
    </div>
  </div>

  <!-- Frontiers -->
  <div class="row mb-3" *ngIf="frontierCountries.length">
    <div class="col">
      <label class="form-label">Fronteras:</label>
      <select class="form-control" formControlName="frontier">
        <option value="">-- Seleccione el país fronterizo --</option>
        <option *ngFor="let frontier of frontierCountries" [value]="frontier.alpha3Code | lowercase">
          {{ frontier.name | titlecase }}
        </option>
      </select>
    </div>
  </div>

  <div class="row" *ngIf="loading">
    <div class="col">
      <h5>Loading...</h5>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <button class="btn btn-primary float-end" type="submit">
        Seleccionar
      </button>
    </div>
  </div>
</form>

<h3>Formulario</h3>
<pre>Valid: {{ selectorForm.valid }}</pre>
<pre>Valid: {{ selectorForm.value | json }}</pre>
